.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.app {
  background: url(./bg.jpg) no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
}

.frame {
  background: url(https://cdn.dribbble.com/users/1313047/screenshots/4759330/cyan_gradient.jpg) no-repeat center center fixed;
  background-size: cover;
  margin: 115px 20%;
  padding-top: 1px;
  padding-left: .75%;
  display: flex;
  justify-content: center;
  height: 200px;
  border: outset lightsteelblue;
}

.main {
  justify-content: center;
  align-items: center;
  display: flex;
}

.button {
  cursor: pointer;
  height: 4em;
  width: 10em;
  background-color: #eee;
  justify-content: center;
  align-items: center;
  border-radius: 5em;
  border: outset lightsteelblue;
}

.button:hover {
  background-color: lightslategrey;
  color: white;
}

.reset {
  width: 4em;
  font-size: inherit;
  margin-right: 2em;
}